* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "sora";
}
:root {
  --background: #04172e;
  --backgroundlightmode: linear-gradient(45deg, #55c4bf31, #55c4bfc4);
  --backgroundlight: #04172edc;
  --white: #f4f5f8;
  --whitelight: rgba(255, 255, 255, 0.041);
  --text: #8f96ad;
  --primary: #65e6df;
  --primarylight: #55c4bfc4;
  --primarysoft: #55c4bf31;
  --links: rgb(16, 57, 243);
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
a {
  color: var(--primary);
  position: relative;
  text-decoration: none;
  transition: 0.5s;
}
p,
.list {
  color: var(--text);
  line-height: 1.6;
  font-size: 1em;
  list-style: none;
}
.curtain {
  position: fixed;
  inset: 0 0 0 0;
  height: 100%;
  background-color: var(--primary);
  opacity: 1;
  transform: translateX(100vw);
  z-index: 1;
  transition: 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.curtain.active {
  transform: translateX(0);
  opacity: 0.5;
}
.section-heading {
  color: var(--white);
  width: fit-content;
  position: relative;
}
.section-heading::before {
  content: "";
  height: 0.2em;
  width: 0%;
  top: 1.4em;
  background-color: var(--primary);
  position: absolute;
  transition: 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
section:hover .section-heading::before,
footer:hover .section-heading::before {
  width: 100%;
}
.sub-heading {
  color: var(--white);
  font-size: 1.1em;
}
section,
footer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  border-top: .1px solid var(--text);
  padding:6em 2em 10em;
}
.icon {
  color: var(--white);
  font-size: 2em;
  transition: 0.5s;
}
.icon:hover {
  color: var(--primary);
}
body {
  width: 100%;
  overflow-x: hidden;
  background: var(--background);
}
.container,
footer {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  align-items: center;
  background-color: var(--backgroundlight);
  position: fixed;
  width: 100%;
  z-index: 1;
}
.logo {
  font-size: 1.5em;
  font-family: "sora";
  color: var(--primary);
  font-weight: 700;
  padding: 0.2em;
  border: 2px solid var(--primary);
  border-radius: 20%;
}
.navbar {
  position: absolute;
  background-color: var(--background);
  inset: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100vh;
  gap: 1em;
  padding: 10em 0;
  transform: translateX(99%);
  transition: 1s;
}
.navbar.active {
  transform: translateX(0);
}
.navbar a {
  color: var(--text);
}
.navbar a:hover {
  color: var(--primary);
}
body.active {
  overflow: hidden;
}
.open {
  font-size: 1.5em;
  color: var(--primary);
  transition: 1s;
  transform: rotateZ(0);
}
.menu.active .open {
  transform: rotateZ(90deg);
}
.landing {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10rem;
}
.introduction p {
  color: var(--primary);
  margin-bottom: 0.5em;
}

.name {
  color: var(--white);
  font-size: 2em;
  font-weight: 1000;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 4em;
  font-size: 1.1em;
}
.cta {
  padding: 1em 0;
  width: fit-content;
  font-size: 1em;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.4);
  border-radius: 2em;
  border: none;
  background-color: transparent;
  box-shadow: 0px 0px 100px var(--primarylight);
}
.cta a {
  width: 100%;
  padding: 1em 3em;
  border-radius: 2em;
  color: var(--primary);
}
.cta:hover a {
  color: var(--white);
}

.lists {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  gap: 2em;
  width: 100%;
  background-color: var(--whitelight);
  padding: 1em;

}
.list {
  color: var(--white);
  font-size: 4em;
}

.img-container {
  width: 100%;
  overflow: hidden;
  filter: grayscale();
  transition: 1s;
}
.img-container:hover {
  filter: none;
}
.my-pic {
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: block;
}

.works {
  gap: 3.5em;
}
.project-container {
  display: grid;
  grid-template-columns: auto;
  gap: 2em;
}
.project-tile {
  transition: 0.5s;
  padding: 1rem 0;
  border-radius: 0.5em;
  border: 1px solid var(--primarysoft);
  background-color: var(--whitelight);
  margin: auto;
  max-width: 380px;
  overflow: hidden;
}
.project-tile:hover {
  box-shadow: 0 0 10px var(--primarylight);
}
.project-tile .sub-heading {
  padding: 0 1em;
  margin-bottom: 1em;
}
.project-tile .project-img {
  width: 100%;
  height: 11em;
  background-color: var(--primarylight);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.project-tile:hover .project-img {
  background-blend-mode: none;
}
.project-tile .project-desc p {
  padding: 1em 1em 0;
  margin-bottom: 1em;
  border-top: none;
  border-radius: 0 0 0.5em 0.5em;
}
.project-tile .project-link {
  position: relative;
  width: fit-content;
}
.project-tile .project-link .icon {
  font-size: 1.6em;
}
.project-tile .project-link .info {
  position: absolute;
  font-size: 0.7em;
  background-color: var(--white);
  border-radius: 0.5em;
  padding: 0.5em;
  display: none;
  width: max-content;
  margin-top: 1em;
}
.project-link a:hover + .info {
  display: block;
}
.img-1 {
  background-image: url(images/product-page.png);
}
.img-2 {
  background-image: url(images/uyimolo.github.io_time-tracking-dashboard_.png);
}
.img-3 {
  background-image: url(images/eduwise.png);
}
.img-4 {
  background-image: url(images/health.png);
}

.links-to-work {
  display: flex;
  padding: 1em;
  gap: 2em;
}
.links-to-work .cta a {
  padding: 1em 0;
}
.links-to-work .cta {
  width: 40%;
  padding: 0.5em 0;
  font-size: 0.9em;
}

.contact {
  gap: 2em;
  padding-bottom: 10em;
}
footer .section-content {
  display: flex;
  flex-direction: column;
  gap: 4em;
}
footer h3 {
  margin-bottom: 1em;
}
footer .cta {
  padding: 1em 0;
}
footer .cta a {
  padding: 1em 2em;
}
.socials,
.email {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.socials .icons {
  display: flex;
  gap: 2em;
}
@media only screen and (min-width: 640px) {
  p {
    font-size: 0.9em;
  }
  .header {
    padding: 2em 4em;
  }
  section,
  footer {
    padding: 8em 4em;
  }
  .curtain {
    display: none;
  }
  .menu {
    display: none;
  }
  .navbar {
    position: relative;
    height: auto;
    flex-direction: row;
    padding: 0;
    width: auto;
    transform: translateX(0);
    inset: 0 0;
  }
  .navbar a {
    position: relative;
  }
  .nav-link::before {
    content: "";
    background-color: var(--primary);
    height: 0.1em;
    width: 0;
    position: absolute;
    top: 2em;
    transition: 1s;
  }
  .nav-link:hover.nav-link::before {
    width: 100%;
  }
  .landing h1 {
    font-size: 3em;
  }
  .lists {
    max-width: 300px;
  }
  footer .section-content {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
}
@media only screen and (min-width: 768px) {
  .name {
    font-size: 3.5em !important;
  }
  .landing {
    height: 100vh;
  }
  .landing p {
    font-size: 1.1em;
  }
  .project-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  p {
    font-size: 1.1em;
  }
  .name {
    font-size: 5em !important;
  }
  .landing {
    padding-top: 5rem;
  }
  .landing p {
    font-size: 1.2em;
    width: 80%;
  }
  .section-content {
    display: flex;
    gap: 2em;
  }
  
  .list {
    width: 40px;
  }
  .project {
    width: 100%;
    position: relative;
  }
  .project-container {
    grid-template-columns: 100%;
    gap: 8em;
  }
  .project-tile {
    max-width: 50%;
    margin: 0;
    border: none;
    background-color:var(--backgroundlightmode);
  }
  .project-tile .project-img {
    position: absolute;
    max-width: 43%;
    height: 14em;
    right: 0;
    transition: 0.5s;
  }
  .project-tile .project-img::before {
    content: "";
    position: absolute;
    border: 2px solid var(--primarysoft);
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--whitelight);
    transform: translateY(1em) translateX(1em);
    transition: 1s;
  }
  .project-tile:hover .project-img {
    max-width: 45%;
    height: 15em;
  }
  .project-tile:hover .project-img::before {
    transform: rotatez(10deg);
    box-shadow: 0 0 50px var(--primarylight);
  }
}
@media only screen and (min-width: 1280px) {
  .description {
    width: 1000px;
  }
}
