@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "sora", sans-serif;
}
:root {
  --background: #00000038;
  /* --background: #65e6df; */
  --backgroundlightmode: linear-gradient(45deg, #e6656b4f, #55c2bc81);
  --backgroundlight: #000000d8;
  /* --white: #f4f5f8; */
  --white : #f2f2f2;
  --whitelight: #bebebe;
  /* --text: #8f96ad; */
  --text: #2a2c33;
  /* --primary: #65e6df; */
  --primary : #E6656C;
  --secondary : #65e6df;
  --primarylight: #55c4bfc4;
  --primarysoft: #55c4bf31;
  /* --links: rgb(16, 57, 243); */
  --links :#e60bf1;
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
.reveal {
  position: relative;
  opacity: 0;
  transition: 1s all cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.reveal.top {
  transform: translateY(300px);
}
.reveal.left {
  transform: translateX(300px);
  transition: 1s;
}
.section-heading.reveal.left {
  transition-delay: 0.5s;
}
.reveal.right {
  transform: translateX(-300px);
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
a {
  color: white;
  position: relative;
  text-decoration: none;
  transition: 0.5s;
}
p,
.list {
  color: var(--text);
  line-height: 1.6;
  font-size: 1em;
  list-style: none;
  margin-bottom: 1em;
}
.curtain {
  position: fixed;
  inset: 0 0 0 0;
  height: 100%;
  background-color: var(--secondary);
  /* filter: blur(190deg); */
  opacity: 1;
  transform: translateX(100vw);
  z-index: 1;
  transition: 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.curtain.active {
  transform: translateX(0);
  opacity: 0.5;
}
.section-heading {
  color: var(--white);
  width: fit-content;
  position: relative;
  font-size: 1.7rem;
}
.section-heading::before {
  content: "";
  height: 0.2em;
  /* width: 59%; */
  top: 1.4em;
  background-color: var(--primary);
  position: absolute;
  transition: 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.section-heading.left::before {
  width: 60%;
}
.sub-heading {
  color: var(--white);
  font-size: 1.2em;
  margin-bottom: 2em;
}
section,
footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 6rem 2rem;
  width: 100vw;
  overflow: hidden;
}
.icon {
  color: var(--white);
  font-size: 2em;
  transition: 0.5s;
}
.icon:hover {
  color: var(--primary);
}
body {
  width: 100vw;
  overflow-x: hidden;
  background: var(--background);
}
.container,
footer {
  width: 100%;
}
footer {
  padding-top: 3rem;
  /* border-top: 0.1px solid var(--text); */
  background: #000000e7;
  /* background-color: rgb(250, 204, 204); */
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  background-color: var(--backgroundlight);
  position: fixed;
  width: 100vw;
  z-index: 1;
}
.logo {
  font-size: 1.5em;
  font-family: "pacifico";
  color: var(--secondary);
  cursor: pointer;
}
.navbar {
  position: absolute;
  background-color: var(--backgroundlight);
  inset: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100vh;
  gap: 1em;
  padding: 10em 0;
  transform: translateX(99%);
  transition: 1s;
}
.navbar.active {
  transform: translateX(0);
}
.navbar a {
  color: var(--white);
}
.navbar a:hover {
  color: var(--secondary);
}
body.active {
  overflow: hidden;
}
.open {
  font-size: 1.5em;
  color: var(--secondary);
  transition: 1s;
  transform: rotateZ(0);
}
.menu.active .open {
  transform: rotateZ(90deg);
}
/* .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0  0 0;
} */
.home .my-pic {
  width: 100%;
  border-radius: 1rem;
  height: auto;
  margin: auto;
}
.landing {
  padding-top: 6rem;
  /* padding-bottom: 3rem; */
  gap: 4rem;
  justify-content: center;
  padding-bottom: 5rem;
  /* background: var(--backgroundlightmode); */
  /* background: #000000d5; */
  height: max-content;
}
.introduction {
  width: 100%;
}
.name {
  color: var(--white);
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}
.title-container {
  width: fit-content;
  margin: auto;
}
.title {
  font-size: 1.25em;
  font-weight: 400;
  animation: blink 0.8s ease infinite forwards,
    typewriter 4.5s stepS(24, end) 1 forwards;
  white-space: nowrap;
  overflow: hidden;
  color: var(--text);
  margin: auto;
}
@keyframes typewriter {
  0% {
    width: 0;
  }
  20% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes blink {
  0% {
    border-right: 5px solid var(--background);
  }
  100% {
    border-right: 5px solid var(--primarylight);
  }
}
/* .description {
  display: flex;
  flex-direction: column;
  gap: 4em;
  font-size: 1.1em;
} */
.landing .cta {
  margin: auto;
  
}
.cta {
  padding: 1rem 0;
  width: fit-content;
  font-size: 1em;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.4);
  border-radius: 2rem;
  border: none;
  background: var(--backgroundlightmode);
  /* background-color: transparent; */
  
}
.cta a {
  width: 100%;
  padding: 1rem 3rem;
  border-radius: 2rem;
  color: var(--white);
}
.cta:hover a {
  color: var(--white);
  background-color: var(--primarylight);
  box-shadow: 0px 0px 5px var(--backgroundlightmode);
}

.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 2rem;
  margin: 3rem auto;
  width: 100%;
  max-width: 250px;
  padding: 2rem 0;
}
.list {
  color: rgba(49, 49, 117, 0.932);
  font-size: 2.8em;
  margin-bottom: 0;
  width: fit-content;
}
.list2 {
  width: 3rem;
  fill: color: rgba(49, 49, 117, 0.932);;
}
.img-container {
  width: 100%;
  overflow: hidden;
  /* filter: hue-rotate(346deg); */
  transition: 1s;
  border-radius: 3rem;
}
.img-container:hover {
  filter: none;
}
.my-pic {
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: block;
}

.works {
  gap: 3.5em;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
.project {
  width: 100%;
  max-width: 300px;
}
.project-tile {
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  margin: auto;
  margin-bottom: 1rem;
  max-width: 380px;
  position: relative;
  border-radius: 1rem 1rem 12rem 1rem;
  background: rgba(9, 150, 185, 0.253);
  box-shadow: inset 0 4px 30px rgba(231, 227, 227, 0.137);
  backdrop-filter: blur(10.4px);
  -webkit-backdrop-filter: blur(10.4px);
 overflow: hidden;

  border: 1px solid rgba(173, 172, 172, 0.274);
}
.project-tile .sub-heading {
  padding: 1rem;
  font-size: 1.1rem;
  margin: 0;
}
.project-tile .project-img {
  width: 100%;
  height: 11rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
}
.project-image {
  transition: 1s;
  height: 100%;
}
.project-image.clicked {
  transform: translateY(100%);
}
.project-tile .project-desc p {
  padding: 1em;
  border-top: none;
  border-radius: 0 0 0.5em 0.5em;
  margin: auto;
  pointer-events: none;
  color: var(--whitelight);
}
.project-tile .project-desc p span {
  color: var(--white);
  pointer-events: none;
}
.project-img .project-desc {
  position: absolute;
  inset: 0rem 0;
  background-color: var(--backgroundlight);

  font-size: 1em;
  height: 100%;
  transform: translateY(-100%);
  transition: 1s;
}
.project-desc.clicked {
  transform: translateY(0);
  visibility: visible;
  transition: 1s;
}

.project-tile .links-to-work {
  padding: 1rem;
  transition: 2s;
}
.project-tile .project-link {
  position: relative;
  width: fit-content;
}
.project-tile .project-link .icon {
  font-size: 1.9em;
}
.project-tile .project-link .info {
  position: absolute;
  font-size: 0.7em;
  background-color: var(--white);
  border-radius: 0.5em;
  padding: 0.5em;
  display: none;
  width: max-content;
  margin-top: 1em;
  color: black;
  font-weight: 500;
}
.project-link a:hover + .info {
  display: block;
  top: -3rem;
}
.project-img img {
  width: 100%;
}
.links-to-work {
  display: flex;
  padding: 1em;
  gap: 2em;
}
.links-to-work .cta a {
  padding: 1em 0;
}
.links-to-work .cta {
  width: 40%;
  padding: 0.5em 0;
  font-size: 0.9em;
}

.contact {
  gap: 2em;
  padding-bottom: 10em;
}
footer .section-content {
  display: flex;
  flex-direction: column;
  gap: 4em;
}
footer h3 {
  margin-bottom: 1em;
}
footer .cta {
  padding: 1em 0;
  box-shadow: 0px 0px 5px var(--primarylight);
}
footer .cta a {
  padding: 1em 2em;
}
footer p {
  color: var(--whitelight);
}
.socials,
.email {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.socials .icons {
  display: flex;
  gap: 2em;
}
/* @media only screen and (min-width: 350px) {
  .landing {
    height: 100vh;
    padding: 0 2rem;
  }
} */
@media only screen and (min-width: 640px) {
  .header {
    padding: 2em 2em;
  }
  section {
    padding: 8rem 2rem 3rem;
  }
  footer {
    padding: 3rem 2rem 3rem;
  }
  .curtain {
    display: none;
  }
  .menu {
    display: none;
  }
  .navbar {
    position: relative;
    height: auto;
    flex-direction: row;
    padding: 0;
    width: auto;
    transform: translateX(0);
    inset: 0 0;
    background-color: transparent;
  }
  .navbar a {
    position: relative;
  }
  .nav-link::before {
    content: "";
    background-color: var(--seconday);
    height: 0.1em;
    width: 0;
    position: absolute;
    top: 2em;
    transition: 1s;
  }
  .nav-link.active::before {
    width: 100%;
    background-color: var(--primary);
  }
  .nav-link.active {
    color: var(--primary);
  }
  .nav-link.active:hover {
    color: var(--primary);
  }
  .nav-link.active:hover.nav-link::before {
    background-color: var(--primary);
  }
  .nav-link:hover.nav-link::before {
    width: 100%;
  }
  .name {
    font-size: 2.8em;
  }
  .title {
    font-size: 2.5em;
  }
  .bio {
    position: relative;
  }
  .lists {
    max-width: 600px;
    left: 0;
    right: 0;
    margin: 1rem auto;
  }
  footer .section-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 2rem 3rem;
  }
  section {
    padding: 8rem 3rem 2rem;
  }
  :root {
    font-size: 17px;
  }
  .logo {
    font-size: 1.7em;
  }
  .landing {
    gap: 4rem;
    padding-top: 8rem;
  }
  .name {
    font-size: 4em;
  }

  .project-container {
    justify-content: center;
    gap: 3rem;
  }
}
@media only screen and (min-width: 992px) {
  .project-tile {
    transition: 1s;
  }
  .project-tile:hover {
    box-shadow: 0px 0px 10px var(--primary);
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    padding: 2rem 6rem;
  }
  section,
  footer {
    padding: 8rem 6rem 3rem;
  }
  .name {
    font-size: 2.5em;
  }
  .title {
    font-size: 2em;
  }
  .landing {
    /* flex-direction: row;
    align-items: center;
    position: relative; */
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    height: 100vh;
    padding: 10rem 8rem 3rem;
  }
  .name {
    text-align: left;
    padding: 0;
    width: 100%;
    /* margin-bottom: 5rem; */
  }
  .home-img {
    grid-area: 1/2;
  }
  .introduction {
    grid-area: 1/1;
    margin: auto;
    justify-self: baseline;
  }
  .title-container {
    /* margin-bottom: 5rem; */
    margin: 0;
  }
  .title {
    margin: 0;
  }
  .landing .cta {
    /* position: absolute;
    left: 6rem;
    margin-top: 15rem; */
    margin: 0;
    height: fit-content;
    grid-area: 2/1;
    /* margin: auto 0; */
  }
  .section-content {
    display: flex;
    gap: 2em;
  }
  /* .bio {
    background-color: yellow;
    overflow: visible;
  } */
  .bio-text {
    flex-basis: 70%;
  }
  .bio p {
    width: 90%;
  }
  .img-container {
    flex-basis: 30%;
    overflow: visible;
  }
  .my-pic {
    max-width: 700px;
    border-radius: 1rem;
  }
  .lists {
    padding: 0;
    margin: 0;
    justify-content: left;
  }
}
/* @media only screen and (min-width: 1280px) {
  .description {
    width: 1000px;
  }
} */
@media only screen and (min-width: 1900px) {
  /* :root {
    font-size: 30px;
  } */
  .bio-text {
    flex-basis: 60%;
  }
  .img-container {
    flex-basis: 40%;
    max-width: 700px;
  }
}
